/* Styles go here */

:root {
  --color-green: #008000;
  --color-violet: #cd7fea;
  --color-sky: #65bff3;
  --color-red: #FF0000;
}

table, td {
    border: 1px solid #cecece;
    padding: 10px;
}

thead {
    font-weight: 700;
}

.male td {
    background-color: var(--color-sky);
}

.female td {
    background-color: var(--color-violet);
}

.available td {
    border: 2px solid var(--color-green);
}

.unavailable td {
    border: 2px solid var(--color-red);
}
