.hide-self-button {
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: .375rem;
  background-color: rgb(79, 70, 229);
  cursor: pointer;
}

